# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Flask instance folder
instance/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db